/* Estilo Global */

body, ul{
    margin: 0px;
    padding: 0px;
}

a, a:hover {
    text-decoration: none;
    color: rgb(149, 10, 161); 
    text-transform: capitalize;
}

:root {
    --bs-color-01: rgb(0,0,0);
    --bs-color-02: rgb(255,255,255);
    --bg-principal: rgb(252, 231, 255);
    --bg-emphasis: rgb(216, 188, 241);
    --bg-btn-hover: rgb(176, 125, 224);
    --bg-font--title: rgb(149, 10, 161); 

    --h1-font:'Fira Sans', sans-serif;
    --h2-font:'Montserrat Alternates', sans-serif;
    --h1-font:'Open Sans', sans-serif;
    --p-font:'Roboto', sans-serif;
    --a-font:'Quicksand', sans-serif;
}


/* Barra de navegação principal */

#logo-container {
    display: flex;
    align-items: center;
}

#logo {
    max-width: 32px;
}

#header{
    background-color: var(--bg-emphasis);
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;  
}

#menu a {
    color: var(--bg-font--title);
    display: block;
    padding: .5rem;
}

#menu a:hover {
    background-color: var(--bg-btn-hover);
    color: var(--bg-font--title);
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #btn-mobile{
        display: block;
    }
    #menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: var(--bg-principal);
        transition: 0.6s;
        z-index: 1000;
        height: calc(100vh-70px);
    }
    #nav.active #menu {
        display: block;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--bs-color-01)
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        color: transparent;
        border: none;
        background: none;
        cursor: pointer;
    }
    #hamburguer {
        color: var(--bg-font--title);
        display: block;
        width: 20px;
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before {
        content: '' ;
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {  
        transform: rotate(-135deg);
        top: -7px;
    }
}

/* Conteúdo Página */

body{
    background-color: var(--bg-principal);
    font-family: var(--p-font);
}

.bg-img {
    padding: 1.6rem;
    background-image: url(./Img/banner.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.galery {
    display: inline-block;
    background-color: var(--bg-principal);
    padding: 1em 1.8em;
    border-radius: 6px;
    letter-spacing: .2rem;
    font-family: var(--p-font);
    
}

.galery:hover {
    background-color: var(--bg-btn-hover);
}

.cards-container {
    margin: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 1.6rem;    
}

.card{
    background-color: var(--bg-emphasis);
    color: var(--bs-color-02);
    padding: 1.6rem;
    box-sizing: border-box;
    margin-bottom: 1.6rem;
    width: 28rem;
}

@media (max-width: 600px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}

footer{
    padding: 0.5rem;
    background-color: var(--bg-emphasis);
    color: var(--bs-color-02);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.contacts-footer {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

#ico-social {
    margin-bottom: 10px;
    width: 32px;
    
}

/*carousel*/

#carousel{
    padding: 0;
    max-width: 100%;
}

.carousel-control-next, .carousel-control-prev {
    border: none;
    background-color: transparent;
}

.carousel-control-prev .fa-chevron-left,
.carousel-control-next .fa-chevron-right {
    color: var(--bg-emphasis); 
    font-size: 30px; 
}

.carousel-caption {
    text-align: center;
}


div.flex {
    display: flex;
    align-items: center;
    height: 100vh;
}
